@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rose Pine Moon Color Palette
   https://rosepinetheme.com/palette/ */
:root {
  --rp-base: #232136;
  --rp-surface: #2a273f;
  --rp-overlay: #393552;
  --rp-muted: #6e6a86;
  --rp-subtle: #908caa;
  --rp-text: #e0def4;
  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ea9a97;
  --rp-pine: #3e8fb0;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
}

html,
body {
  background-color: var(--rp-base);
}
